stages:
  - deploy

deploy_to_huggingface:
  stage: deploy
  image: alpine:latest
  before_script:
    - apk add --no-cache git
    - git config --global user.email "ci@gitlab.com"
    - git config --global user.name "GitLab CI Runner"
    - git config --global credential.helper store
    - echo "https://__token__:${huggingfacetoken}@huggingface.co" > ~/.git-credentials
  script:
    - git clone https://huggingface.co/${HF_SPACE} hf_repo
    - cp -r * hf_repo/
    - cd hf_repo
    - git add .
    - git commit -m "Auto-deploy from GitLab"
    - git push
  only:
    - main
